@using E_Commerce_Platform.ViewModels
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_websiteLayout.cshtml";
}
<link rel="stylesheet" href="~/css/login.css" />
<body>
    <div class="login-container">
        <div class="login" data-aos="fade-up">
            <div class="left-side">
                <img src="~/images/p11.png" alt="">
            </div>
            <div class="right-side" style="height:100%;">
                <div class="header" style=" gap:80px;">
                    <div class="logo-title">
                        <div class="logo">
                            <img src="~/images/logo.png" alt="">
                        </div>
                        <div class="titles">
                            <div class="title-2 big-wireless block fs-400 bold-700 fs-poppins">Account Recovery</div>
                        </div>
                    </div>
                    <form asp-action="ForgotPassword" asp-controller="Account" method="post" data-aos="fade-up" style="height:100%;">
                        <div asp-validation-summary="ModelOnly" style="color: red;" class="fs-100 bold-500 fs-poppins"></div>
                        <input asp-for="Email" style="color: gray;" class="fs-100 bold-500 fs-poppins" type="text" placeholder="Email address">
                        <span class="fs-100 bold-500 fs-poppins" asp-validation-for="Email" style="color:red;"></span>

                        <button type="submit" class="large-btn bg-red text-white fs-poppins fs-50">Submit!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
