@model E_Commerce_Platform.ViewModels.RegisterViewModel

@{
    Layout = "~/Views/Shared/_websiteLayout.cshtml";
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="login-container" data-aos="fade-up">
    <div class="login">
        <div class="left-side" data-aos="fade-up">
            <img src="~/images/p11.png" alt="">
        </div>
        <div class="right-side">
            <div class="header">
                <div class="logo-title">
                    <div class="titles">
                        <div class="title-2 big-wireless block fs-400 bold-700 fs-poppins">Register</div>
                    </div>
                </div>
                <form asp-action="Register" method="post" data-aos="fade-up">
                    <div asp-validation-summary="ModelOnly" class="fs-100 bold-500 fs-poppins" style="color: red;"></div>

                    <div style="display:flex; gap:10px">
                        <div style="width:50%; display:flex; flex-direction:column">
                            <input asp-for="FirstName" class="fs-100 bold-500 fs-poppins" placeholder="First name">
                            <span class="fs-100 bold-500 fs-poppins" asp-validation-for="FirstName" style="color:red;"></span>
                        </div>
                        <div style="width:50%; display:flex; flex-direction:column">
                            <input asp-for="LastName" class="fs-100 bold-500 fs-poppins" placeholder="Last name">
                            <span class="fs-100 bold-500 fs-poppins" asp-validation-for="LastName" style="color:red;"></span>
                        </div>
                    </div>

                    <div>
                        <input asp-for="Username" class="fs-100 bold-500 fs-poppins" placeholder="Username" style="width:100%;">
                        <span class="fs-100 bold-500 fs-poppins" asp-validation-for="Username" style="color:red;"></span>
                    </div>

                    <div>
                        <input asp-for="Email" class="fs-100 bold-500 fs-poppins" placeholder="Email address" type="email" style="width:100%;">
                        <span class="fs-100 bold-500 fs-poppins" asp-validation-for="Email" style="color:red;"></span>
                    </div>

                    <div>
                        <input asp-for="PhoneNumber" class="fs-100 bold-500 fs-poppins" placeholder="Phone number" style="width:100%;">
                        <span class="fs-100 bold-500 fs-poppins" asp-validation-for="PhoneNumber" style="color:red;"></span>
                    </div>

                    <div>
                        <input asp-for="Address" class="fs-100 bold-500 fs-poppins" placeholder="Address" style="width:100%;">
                        <span class="fs-100 bold-500 fs-poppins" asp-validation-for="Address" style="color:red;"></span>
                    </div>

                    <div style="display:flex; gap:10px">
                        <div style="width:50%; display:flex; flex-direction:column">
                            <input asp-for="Password" class="fs-100 bold-500 fs-poppins" placeholder="Password" type="password">
                            <span class="fs-100 bold-500 fs-poppins" asp-validation-for="Password" style="color:red;"></span>
                        </div>
                        <div style="width:50%; display:flex; flex-direction:column">
                            <input asp-for="ConfirmPassword" class="fs-100 bold-500 fs-poppins" placeholder="Confirm Password" type="password">
                            <span class="fs-100 bold-500 fs-poppins" asp-validation-for="ConfirmPassword" style="color:red;"></span>
                        </div>
                    </div>

                    <button type="submit" class="large-btn bg-red text-white fs-poppins fs-50" data-aos="fade-up">Submit!</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
