@using E_Commerce_Platform.ViewModels
@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_websiteLayout.cshtml";
}
<link rel="stylesheet" href="~/css/login.css" />
<body>
    <div class="login-container">
        <div class="login" data-aos="fade-up">
            <div class="left-side">
                <img src="~/images/p11.png" alt="">
            </div>
            <div class="right-side">
                <div class="header">
                    <div class="logo-title">
                        <div class="logo">
                            <img src="~/images/logo.png" alt="">
                        </div>
                        <div class="titles">
                            <div class="title-2 big-wireless block fs-400 bold-700 fs-poppins">Welcome Back</div>
                            <div style="color: gray;" class="title-2 big-wireless block fs-100 bold-400 fs-poppins">Please login to your account</div>
                        </div>
                    </div>
                    <form asp-action="ResetPassword" asp-controller="Account" method="post" data-aos="fade-up">
                        <div asp-validation-summary="ModelOnly" style="color: red;" class="fs-100 bold-500 fs-poppins"></div>

                        <input asp-for="OldPassword" style="color: gray;" class="fs-100 bold-500 fs-poppins" type="text" placeholder="Enter Old Password">
                        <span class="fs-100 bold-500 fs-poppins" asp-validation-for="OldPassword" style="color:red;"></span>

                        <input asp-for="NewPassword" style="color: gray;" class="fs-100 bold-500 fs-poppins" type="text" placeholder="Enter New Password">
                        <span class="fs-100 bold-500 fs-poppins" asp-validation-for="NewPassword" style="color:red;"></span>

                        <input asp-for="ConfirmPassword" style="color: gray;" class="fs-100 bold-500 fs-poppins" type="text" placeholder="Confirm Password">
                        <span class="fs-100 bold-500 fs-poppins" asp-validation-for="ConfirmPassword" style="color:red;"></span>

                        <input asp-for="userId" value="@Model.userId" type="hidden">

                        <button type="submit" class="large-btn bg-red text-white fs-poppins fs-50">Submit!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
