@model E_Commerce_Platform.EF.Models.Product

@{
    ViewData["Title"] = "Add Product";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<style>
    .validation-summary {
        width: 100%;
        color: red;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

        .validation-summary ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        .validation-summary li::before {
            content: "⚠ ";
            font-weight: bold;
        }

    .edit-overlay {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 150px;
        height: 150px;
        background: rgba(128, 128, 128, 0.2);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 3;
        opacity: 1;
        transition: background 0.3s ease-in-out;
    }

        .edit-overlay i {
            color: white;
            font-size: 30px;
        }

    .text-center:hover .edit-overlay {
        background: rgba(128, 128, 128, 0.6);
    }
</style>
<div class="card shadow-sm">
    <div class="card-header bg-dark text-white">
        <h4 class="mb-0">Add Category</h4>
    </div>
    <div asp-validation-summary="All" class="validation-summary"></div>
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Name" class="form-label fw-bold">Category Name</label>
                <input asp-for="Name" class="form-control border-dark" required>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between align-items-center w-100 gap-3">
                <span class="fs-6 text-secondary">Make sure all fields are filled correctly</span>
                <div class="d-flex gap-2">
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-dark">Add Category</button>
                </div>
            </div>
        </form>
    </div>
</div>
