@{
	Layout = "~/Views/Shared/_websiteLayout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<body>
    <div class="main-container">
        <a class="no-style" asp-controller="Ecommerce" asp-action="Shop" >
        <main class="hero-section" data-aos="fade-up">
            <div class="titles">
                <h1 class="fs-200 bold-500 fs-poppins" data-aos="fade-up">Beats Solo</h1>
                <span class="big-wireless block lineheight fs-700 bold-800 fs-poppins" data-aos="fade-up">Wireless</span>
                <span id="bigtext" class="text-white uppercase bold-bolder fs-poppins fs-900" data-aos="fade-up">HeadPhone</span>
            </div>
            <img src="~/images/image1.png" alt="">
            <div class="hero-inner flex" data-aos="fade-up">
                <button class="large-btn bg-red text-white fs-poppins fs-50">Shop By Category</button>
            </div>
        </main>
        </a>

        <div class="categories" data-aos="fade-up">
            <div class="row" data-aos="fade-up">
                <div class="Cate-01">
                    <div class="titles">
                        <h1 class="text-white fs-100 bold-500 fs-poppins" data-aos="fade-up">Enjoy</h1>
                        <span class="text-white block lineheight fs-300 bold-600 fs-poppins" data-aos="fade-up">With</span>
                        <span id="bigtext" class="text-gray uppercase bold-bolder fs-poppins fs-500" data-aos="fade-up">Earphones</span>
                    </div>
                    <div class="cateimg">
                        <a asp-action="shop"><img src="~/images//h.png" alt="" data-aos="fade-up"></a>
                    </div>
                    <div class="categories-btn flex" data-aos="fade-up">
                        <div>
                            <a asp-action="shop"><button class="large-btn bg-red text-white fs-poppins fs-50">browse</button></a>
                        </div>
                    </div>
                </div>

                <div class="Cate-01" style="background-color: #FFC430;">
                    <div class="titles">
                        <h1 class="text-white fs-100 bold-500 fs-poppins" data-aos="fade-up">Enjoy</h1>
                        <span class="text-white block lineheight fs-300 bold-600 fs-poppins" data-aos="fade-up">With</span>
                        <span id="bigtext" class="text-gray uppercase bold-bolder fs-poppins fs-500" style="color:#b58b22;" data-aos="fade-up">Watches</span>
                    </div>
                    <div class="cateimg">
                        <a asp-action="shop"><img src="~/images/w.png" alt="" data-aos="fade-up"></a>
                    </div>
                    <div class="categories-btn flex" data-aos="fade-up">
                        <div>
                            <a asp-action="shop"><button class="large-btn bg-red text-white fs-poppins fs-50" style="background-color: white; color: #FFC430;">browse</button></a>
                        </div>
                    </div>
                </div>

                <div class="bigCate-01" style="background-color: #FE4037;">
                    <div class="titles">
                        <h1 class="text-white fs-100 bold-500 fs-poppins" data-aos="fade-up">Enjoy</h1>
                        <span class="text-white block lineheight fs-300 bold-600 fs-poppins" data-aos="fade-up">With</span>
                        <span id="bigtext" class=" uppercase bold-bolder fs-poppins fs-500" style="color:#7e1f1a" data-aos="fade-up">Laptops</span>
                    </div>
                    <a asp-action="shop"><img src="~/images/Laptop.png" alt="" style="margin-left:100px"></a>
                    <div class="categories-btn flex" data-aos="fade-up">
                        <div>
                            <a asp-action="shop"><button class="large-btn bg-red text-white fs-poppins fs-50" style="background-color: white; color: #FE4037;">browse</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="bigCate-01" style="background-color: #F0F0F0;">
                    <div class="titles">
                        <h1 class="text-black fs-100 bold-500 fs-poppins" data-aos="fade-up">Enjoy</h1>
                        <span class="text-black block lineheight fs-300 bold-600 fs-poppins" data-aos="fade-up">With</span>
                        <span id="bigtext" class="text-black uppercase bold-bolder fs-poppins fs-500" data-aos="fade-up">Laptops</span>
                    </div>
                    <a asp-action="shop"><img src="~/images/gam.png" alt="" style="margin-left:100px"></a>
                    <div class="categories-btn flex" data-aos="fade-up">
                        <div>
                            <a asp-action="shop">   <button class="large-btn bg-red text-black fs-poppins fs-50" style="background-color: white; color: black;">browse</button></a>
                        </div>
                    </div>
                </div>

                <div class="Cate-01" style="background-color: #2FBC78;">
                    <div class="titles">
                        <h1 class="text-white fs-100 bold-500 fs-poppins" data-aos="fade-up">Enjoy</h1>
                        <span class="text-white block lineheight fs-300 bold-600 fs-poppins" data-aos="fade-up">With</span>
                        <span id="bigtext" class="text-gray uppercase bold-bolder fs-poppins fs-500" data-aos="fade-up">Earphones</span>
                    </div>
                    <div class="cateimg">
                        <a asp-action="shop"> <img src="~/images/man2.png" alt="" data-aos="fade-up" style="margin-top:170px"></a>
                    </div>
                    <div class="categories-btn flex" data-aos="fade-up">
                        <div>
                            <a asp-action="shop">     <button class="large-btn bg-red text-white fs-poppins fs-50" style="background-color: white; color: #117EFF;">browse</button></a>
                        </div>
                    </div>
                </div>

                <div class="Cate-01" style="background-color: #117EFF;">
                    <div class="titles">
                        <h1 class="text-white fs-100 bold-500 fs-poppins" data-aos="fade-up">Enjoy</h1>
                        <span class="text-white block lineheight fs-300 bold-600 fs-poppins" data-aos="fade-up">With</span>
                        <span id="bigtext" class="text-gray uppercase bold-bolder fs-poppins fs-500" data-aos="fade-up">Watches</span>
                    </div>
                    <div class="cateimg">
                        <a asp-action="shop">  <img src="~/images/mus.png" alt="" data-aos="fade-up"></a>
                    </div>
                    <div class="categories-btn flex" data-aos="fade-up">
                        <div>
                            <a asp-action="shop">    <button class="large-btn bg-red text-white fs-poppins fs-50" style="background-color: white; color: #117EFF;">browse</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products" data-aos="fade-up">
            <div class="prod-titles">
                <span class="big-wireless block lineheight fs-400 bold-700 fs-poppins">Best Seller Products</span>
                <span id="bigtext" class="text-gray fs-poppins bold-500 fs-100">speakerThere are many vaitaions passage</span>
            </div>
            <div class="container" data-aos="fade-up">
                <div class="cards">

                </div>
            </div>
        </div>
        <a class="no-style" asp-controller="Ecommerce" asp-action="Shop">
        <div class="advert" data-aos="fade-up">
            <div class="titles">
                <h1 class="text-white fs-100 bold-200 fs-poppins" data-aos="fade-up">20% OFF</h1>
                <span class="cutted-text text-white big-wireless uppercase block lineheight fs-700 bold-800 fs-poppins" data-aos="fade-up">happyhouse</span>
                <h1 class="text-white fs-100 bold-200 fs-poppins" data-aos="fade-up">15 Nov To 7 Dec</h1>
            </div>
            <img src="~/images/p12.png" alt="">
            <div class="prodtitles">
                <h1 class="text-white fs-100 bold-400 fs-poppins" data-aos="fade-up">Beats Solo Air</h1>
                <span class="text-white big-wireless uppercase block lineheight fs-400 bold-700 fs-poppins" data-aos="fade-up">Summer Sales</span>
                <h1 class="text-white fs-100 bold-300 fs-poppins " data-aos="fade-up">15 Company that's grown from 270 to 480 employees in the last 12 months</h1>
            </div>
        </div>
        </a>
    </div>
</body>
<script>
    $.ajax({
        url: "/Product/BestSellingProducts?n=8",
        success: function(result){
            $(".container .cards").html(result);
        }
    })
</script>