@{
    Layout = null;
    ViewBag.Title = "Access Denied";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/index.css" />
<div class="d-flex flex-column align-items-center justify-content-center vh-100 text-center; gap-3">
    <span class="text-red block lineheight fs-400 bold-700 fs-poppins">Access Denied</span>
    <span id="bigtext" class="text-gray fs-montserrat bold-600 fs-100" style="color: gray;">You do not have permission to access this page.</span>
    <a href="@Url.Action("Home", "Ecommerce")" class="btn btn-danger mt-3 px-4 py-2">Return Home</a>
</div>
